# files

tokens*.bat
monitor.bat
payment_confirmer.py
*servers.db
*queue.db
*coins.db
*Minecraft_Alts_100.txt
fetch_que.py
data/coins.json


# logs/regenerated/cache
*__pycache__*
*/log.txt
*/SessionCache.ini
*/alts.txt
*/lang*
data/que-graphs/*
data/shop_users/*
